mixin order()
    +b.order
        .container
            +e.inner
                +e.wrapper-title
                    +e.SPAN.title Order
                +e.cart-content-change-text
                    +e.cart-content-change-text-inner
                        +e.cart-content-currency-chose Choose currency
                        +e.cart-content-currency
                            +e.SPAN.cart-content-currency-span_active CAD
                            +e.INPUT.cart-content-currency-scroll(type="range" name="vol" min="0" max="1" value="0")
                            span USD
                    +e.cart-content-metryc
                        +e.cart-content-metryc-tabs
                            +e.UL.cart-content-metryc-caption
                                li.active Metric System
                                li U.S. System
                +e.cart-content-metryc-inner
                    +e.cart-content-metryc-content.active
                        +e.SPAN.tabs-title How do you want to receive the product?
                        +e.UL.tabs-caption
                            li Pickup
                            li.active Delivery
                        +e.tabs-inner
                            +e.tabs-content
                                +e.list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                +e.cart-item-title-dop
                                                    A.remove(href="#")
                                                        +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                    +e.item-title
                                                        strong Fresh
                                                        br
                                                        |  Organic Blueberries
                                                    +e.A.add-link Available only on pre-order for July-August
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                +e.cart-item-title-dop
                                                    A.remove(href="#")
                                                        +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                    +e.item-title
                                                        strong Fresh
                                                        |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                +e.tabs-container
                                    +e.tabs-container-title What date & time would you like to pick up your blueberries?
                                    +e.tabs-container-list
                                        +e.tabs-container-item
                                            +e.tabs-container-item-inner
                                                +e.SELECT.tabs-container-select(name="time[]")
                                                    +e.OPTION.tabs-container-option(value="1") Feb 20
                                                    +e.OPTION.tabs-container-option(value="1") Feb 20
                                                    +e.OPTION.tabs-container-option(value="1") Feb 20
                                        +e.tabs-container-item
                                            +e.LABEL.tabs-container-item-container
                                                input(type='radio' checked='checked' name='radio')
                                                +e.SPAN.tabs-container-item-checkmark
                                                | 10 am – 12pm
                                        +e.tabs-container-item
                                            +e.LABEL.tabs-container-item-container
                                                input(type='radio' checked='checked' name='radio')
                                                +e.SPAN.tabs-container-item-checkmark
                                                | 12 pm – 2pm
                                        +e.tabs-container-item
                                            +e.LABEL.tabs-container-item-container
                                                input(type='radio' checked='checked' name='radio')
                                                +e.SPAN.tabs-container-item-checkmark
                                                | 2 pm – 4pm
                                +e.tabs-total
                                    +e.SPAN.tabs-total-totle Total:
                                    +e.SPAN.tabs-total-price 200.00
                                    +e.SPAN.tabs-total-val USD
                            +e.tabs-content.active
                                +e.list
                                    +e.cart-item.order__only-pickup(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-add
                                            +e.cart-item-image-inner
                                                +e.cart-item-image(src=require('./../images/order1.png'), alt='Background')
                                            +e.cart-item-title
                                                A.remove(href="#")
                                                    +e.item-close(src=require('./../images/close-prod.png'), alt='Background')
                                                +e.item-title
                                                    strong Fresh
                                                    br
                                                    |  Organic Blueberries
                                            +e.cart-item-content
                                                +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.cart-item-cost
                                                +e.SPAN.cart-item-minus –
                                                +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                                +e.SPAN.cart-item-plus +
                                            +e.SPAN.cart-item-price-total
                                                +e.SPAN.cart-item-price.real-price  23.00
                                                +e.SPAN.cart-item-price  CAD
                                        +e.only-pickup-button
                                            span Only pickup
                                +e.tabs-ship
                                    +e.back(src=require('./../images/order-back.png'), alt='Background')
                                    .container
                                        +e.tabs-ship-title Shipping address:
                                        +e.tabs-ship-form
                                            +e.tabs-ship-item
                                                +e.LABEL.tabs-ship-label Title*
                                                +e.tabs-container-item-inner-tab
                                                    +e.SELECT.tabs-ship-item-select(name="title[]")
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label First Name*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="firstName")
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Last Name*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="lastName")
                                            +e.line
                                            +e.tabs-ship-item
                                                +e.LABEL.tabs-ship-label Country*
                                                +e.tabs-container-item-inner-tab
                                                    +e.SELECT.tabs-ship-item-select(name="country[]")
                                                        +e.OPTION.tabs-ship-item-option(value="1") Canada
                                                        +e.OPTION.tabs-ship-item-option(value="1") Canada
                                                        +e.OPTION.tabs-ship-item-option(value="1") Canada
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Address
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="addres")
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label House Number and street*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="house")
                                                    +e.SPAN.tabs-ship-add Sreet Address, P.O. Box
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Address line 2 (optional)
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="address2")
                                                    +e.SPAN.tabs-ship-add Apartment, Suite, Units, Floor
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label City*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="city")
                                            +e.tabs-ship-item
                                                +e.LABEL.tabs-ship-label Region/Province*
                                                +e.tabs-container-item-inner-tab
                                                    +e.SELECT.tabs-ship-item-select(name="region[]")
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                                        +e.OPTION.tabs-ship-item-option(value="1") Please select
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Postal Code*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="code")
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Phone Number*
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="code" id="billing_phone")
                                                    +e.SPAN.tabs-ship-add This is so we can send delivery updates or if we need to contact you about your order
                                                    +e.agree.agree-order
                                                        +e.LABEL.agree-container
                                                            input(type='checkbox')
                                                            +e.SPAN.agree-checkmark
                                                        +e.SPAN.agree-text Use this address for Billing
                                                    +e.agree.agree-order
                                                        +e.LABEL.agree-container
                                                            input(type='checkbox')
                                                            +e.SPAN.agree-checkmark
                                                        +e.SPAN.agree-text Add to Address book
                                            +e.tabs-ship-item.input
                                                +e.LABEL.tabs-ship-label Pre-order date
                                                +e.tabs-container-item-inner-tab
                                                    +e.INPUT.tabs-container-item-input(type="text" name="pre-order")
                                            +e.agree
                                                +e.LABEL.agree-container
                                                    input(type='checkbox' checked='checked')
                                                    +e.SPAN.agree-checkmark
                                                +e.SPAN.agree-text I agree to the terms & conditions and understand that once my order is submitted, Floret cannot modify or combine my order or change my method of payment. I understand that international orders may be subject to additional duties and taxes and I accept responsibility for paying any applicable fees
                                            +e.delivery
                                                +e.delivery-price
                                                    +e.delivery-price-title Delivery:
                                                    +e.delivery-price-cost $3.75
                                                +e.delivery-tax
                                                    +e.delivery-tax-title Tax:
                                                    +e.delivery-tax-cost $2.77
                                            +e.tabs-total
                                                +e.SPAN.tabs-total-totle Total:
                                                +e.SPAN.tabs-total-price 200.00
                                                +e.SPAN.tabs-total-val USD
                                                +e.cart-content-metryc-content
                +e.total-count
                    +e.total-count-card
                        +e.total-count-card-title Choose the form of payment:
                            .half
                                .tab
                                    input#tab-one(type="radio" name='tabs' class="wc_payment_method")
                                    label(for='tab-one') Оплата при доставке
                                    .tab-content
                                        input(type="radio" name='azaza0')
                                        input(type="checkbox" name='azaza1')
                                        input(type="password" name='azaza2')
                                        input(type="text" name='azaza3')
                                        p Оплата наличными при доставке заказа.
                                .tab
                                    input#tab-two(type="radio" name='tabs' class="wc_payment_method")
                                    label(for='tab-two') Оплата при доставке
                                    .tab-content
                                        p Оплата наличными при доставке заказа.
                                .tab
                                    input#tab-three(type="radio" name='tabs' class="wc_payment_method")
                                    label(for='tab-three') Оплата при доставке
                                    .tab-content
                                        p Оплата наличными при доставке заказа.
                        +e.total-count-card-choose
                            //+e.total-count-card-choose-inner
                            //    +e.SELECT.total-count-card-choose-select(name="card[]")
                            //        +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                            //        +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                            //        +e.OPTION.total-count-card-choose-option(value="1") Credit Card
                    +e.total-count-button
                        +e.BUTTON.total-count-button-text(type="submit") Pay now