mixin page-banner()
    +b.page-banner
        .container
            +e.inner
                +e.content
                    +title('ВОПРОС-ответ')(class='title_blue')
                    +text('В данном разделе вы можете получить ответ на наиболее часто возникающие вопросы касательно онлайн курса "БЕРЕМЕННОСТЬ И РОДЫ"')(class='text_black')
                +e.links
                    +links()
        +e.wrapper
            +image()(src=require('./../images/question.png' ))
        .container
            +e.list
                +e.item
                    +e.content-item
                        +e.number 1
                        +e.SPAN.title Как зарегистрироваться на онлайн курс?
                        +e.IMG.button(src=require('./../images/plus.svg'))
                    +e.text-item
                        .editor-content
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома

                +e.item
                    +e.content-item
                        +e.number 2
                        +e.SPAN.title Что я получу пройдя онлайн курс?
                        +e.IMG.button(src=require('./../images/plus.svg'))
                    +e.text-item
                        .editor-content
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома

                +e.item
                    +e.content-item
                        +e.number 3
                        +e.SPAN.title Как зарегистрироваться на онлайн курс?
                        +e.IMG.button(src=require('./../images/plus.svg'))
                    +e.text-item
                        .editor-content
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома

                +e.item
                    +e.content-item
                        +e.number 4
                        +e.SPAN.title Как зарегистрироваться на онлайн курс?
                        +e.IMG.button(src=require('./../images/plus.svg'))
                    +e.text-item
                        .editor-content
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома
                            P В данном разделе вы можете в формате видео получить информацию по конкретной тематике касаемо беременности и родов, подготовки к ним, а также пройти тестирование по усвоенному материалу, для получения диплома
