mixin buyers()
    +b.buyers
        +e.inner
            .container
                +e.wrapper-title
                    +e.SPAN.title Wholesale /Retailers
                +e.wrapper
                    +e.content
                        +e.editor
                            P Falconglen Organic Farms is a certified organic blueberry farm situated on 70 acres of farmland, only 45 minutes from downtown Vancouver, in the historic Township of Langley, British Columbia.
                            strong Falconglen Organic Farms
                            em Falconglen Organic Farms
                            del Falconglen Organic Farms
                            a Falconglen Organic Farms
                            ul
                                li Falconglen Organic Farms
                                li Falconglen Organic Farms
                            ol
                                ul
                            ul
                                ul
                                    li Falconglen Organic Farms
                                    li Falconglen Organic Farms
                            ol
                                ol
                                    li Falconglen Organic Farms
                                    li Falconglen Organic Farms
                            blockquote
                                p Falconglen Organic Farms
                                cite Falconglen Organic Farms
                            h2 Falconglen Organic Farms
                            h3 Falconglen Organic Farms
                            h4 Falconglen Organic Farms
                    +e.gallery
                        +e.swiper-container.swiper-container
                            +e.swiper-wrapper.swiper-wrapper
                                +e.swiper-slide.swiper-slide(src=require('./../images/slider.png'), alt='Background')
                                +e.swiper-slide.swiper-slide(src=require('./../images/slider.png'), alt='Background')
                                +e.swiper-slide.swiper-slide(src=require('./../images/slider.png'), alt='Background')
                            +e.swiper-pagination.swiper-pagination
            +e.contact
                +e.contact-wrapper
                    .container
                        +e.contact-inner
                            +e.contact-content
                                +e.contact-title Contact us
                                +e.contact-desc Please contact us at info@falconglen.ca to discuss your needs and for more information on our premium organic blueberry products.
                                +e.contact-text
                                    +e.A.link(href="tel:778-859-2743")
                                        IMG(src=require('./../images/c-phone.png'), alt='Background')
                                        SPAN 778-859-2743
                                    +e.A.link(href="mailti:info@falconglen.ca")
                                        IMG(src=require('./../images/c-email.png'), alt='Background')
                                        SPAN info@falconglen.ca
                            +e.contact-image
                                IMG(src=require('./../images/contact-image.png'), alt='Background')
                    +e.back(src=require('./../images/buyers-back.png'), alt='Background')
                    +e.back2(src=require('./../images/falc.png'), alt='Background')
                    +e.blueberry1.wholesale__item(src=require('./../images/blueberry1.png'), alt='Background')
                    +e.blueberry2.wholesale__item(src=require('./../images/blueberry2.png'), alt='Background')
                    +e.blueberry3.wholesale__item(src=require('./../images/blueberry3.png'), alt='Background')
                    +e.blueberry4.wholesale__item(src=require('./../images/blueberry4.png'), alt='Background')
