mixin process()
    +b.process
        +e.inner
            .container
                +e.heading
                    +e.SPAN Are you
                    +e.SPAN &#32; ready &#32;
                    +e.SPAN to order?
            +e.swiper-container.swiper-container
                +e.swiper-wrapper.swiper-wrapper
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.icon
                                +e.icon-pic(src=require('./../images/blueberry-icon.svg'), alt='Icon')
                            +e.title-inner
                                +e.title-number 1
                                +e.title-description Choose product
                            +e.description
                                +e.SPAN.description-gray for you in our catalog &#32;
                                +e.A.description-purple(href='#' target='_blank') falconglen.ca/catalog
                            +e.image(src=require('./../images/aar.png'), alt='Icon')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.icon
                                +e.icon-pic(src=require('./../images/credit-card-icon.svg'), alt='Icon')
                            +e.title-inner
                                +e.title-number 2
                                +e.title-description Make an order
                            +e.description
                                +e.SPAN.description-gray Please use our
                                +e.A.description-purple(href='#' target='_blank') &#32; pre-order form &#32;
                                +e.SPAN.description-gray for all pickup orders. For off-season inquiries, please call us at
                                +e.A.description-purple(href='#' target='_blank') &#32; 778-859-2743
                            +e.image(src=require('./../images/aar.png'), alt='Icon')
                    +e.swiper-slide.swiper-slide
                        +e.slide-inner
                            +e.icon
                                +e.icon-pic(src=require('./../images/pack-icon.svg'), alt='Icon')
                            +e.title-inner
                                +e.title-number 3
                                +e.title-description Get your products
                            +e.description
                                +e.SPAN.description-purple Visit us
                                +e.SPAN.description-gray  &#32; at the farm &#32;
                                +e.SPAN.description-purple &#32; Monday to Friday &#32;
                                +e.SPAN.description-gray from
                                +e.SPAN.description-purple &#32; 10AM–4PM* &#32;
                                +e.SPAN.description-gray (by appointment only from September to June) or get the order by delivery





