mixin contact()
    +b.contact
        +e.inner
            +e.front
                +e.front-text
                    .container
                        +e.front-heading
                            +e.wrapper-title
                                +e.SPAN.title Contact us
                        +e.editor
                            P Falconglen Organic Farms is a certified organic blueberry farm situated on 70 acres of farmland, only 45 minutes from downtown Vancouver, in the historic Township of Langley, British Columbia.
                            strong Falconglen Organic Farms
                            em Falconglen Organic Farms
                            del Falconglen Organic Farms
                            a Falconglen Organic Farms
                            ul
                                li Falconglen Organic Farms
                                li Falconglen Organic Farms
                            ol
                                ul
                            ul
                                ul
                                    li Falconglen Organic Farms
                                    li Falconglen Organic Farms
                            ol
                                ol
                                    li Falconglen Organic Farms
                                    li Falconglen Organic Farms
                            blockquote
                                p Falconglen Organic Farms
                                cite Falconglen Organic Farms
                            h2 Falconglen Organic Farms
                            h3 Falconglen Organic Farms
                            h4 Falconglen Organic Farms
                +e.front-background
                    +e.front-background-pic(src=require('./../images/contact-background.png'), alt='Background')
                    +e.blueberry-1(src=require('./../images/image3.png'), alt='Blueberry')
                    +e.blueberry-2(src=require('./../images/image2.png'), alt='Blueberry')
                    +e.blueberry-3(src=require('./../images/image4.png'), alt='Blueberry')
                    +e.blueberry-4(src=require('./../images/image1.png'), alt='Blueberry')
            +e.location
                +e.location-text
                    .container
                        +e.hours-title Farm location
                        +e.links-inner
                            +e.link(href='')
                                +e.link-icon(src=require('./../images/location-icon.svg'), alt='Icon')
                                +e.link-text 26345 88 Ave, Langley, BC, Canada
                            +e.A.link(href='tel:778-859-2743')
                                +e.link-icon(src=require('./../images/handset-icon.svg'), alt='Icon')
                                +e.link-text 778-859-2743
                            +e.A.link(href='mailto:info@falconglen.ca')
                                +e.link-icon(src=require('./../images/email-icon.svg'), alt='Icon')
                                +e.link-text info@falconglen.ca
                +e.map
                    +e.IFRAME.map-link(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.039910636735!2d-122.50144668431481!3d49.16185067931836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485cd55d1f6f117%3A0xe6f6910f24483060!2zMjYzNDUgODggQXZlLCBMYW5nbGV5IENpdHksIEJDIFYxTSAzTDksINCa0LDQvdCw0LTQsA!5e0!3m2!1sru!2sby!4v1583145001881!5m2!1sru!2sby" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="")