mixin benefits()
    +b.benefits
        +e.inner
            +e.image
                +e.IMG.image-background(src=require('./../images/benefits-background.png'), alt='Background')
                +e.IMG.image-bee(src=require('./../images/flower.png'), alt='Background')
            +e.content
                .container
                    +e.IMG.title(src=require('./../images/benefits-title.png'), alt='Background')
                    +e.list
                        +e.item
                            +e.item-content
                                +e.item-content-title Unique!
                                +e.item-content-list
                                    +e.IMG.item-content-image(src=require('./../images/b-logo1.png'), alt='Background')
                            +e.SPAN.item-text
                                | Eco-friendly retail packaging.  
                                strong  20 oz / 1.25 lb / 568 g
                                |  Many organic consumers prefer non plastic packaging, which helps protect our oceans and environment.
                        +e.item
                            +e.item-content
                                +e.item-content-title Certified!
                                +e.item-content-list
                                    +e.IMG.item-content-image(src=require('./../images/b-logo2.png'), alt='Background')
                                    +e.IMG.item-content-image(src=require('./../images/b-logo3.png'), alt='Background')
                                    +e.IMG.item-content-image(src=require('./../images/b-logo4.png'), alt='Background')
                            +e.SPAN.item-text
                                | We grow and pack only  
                                strong  Canadian / USDA / EU
                                |  certified organic blueberries. Canada GAP certified food saftey. We export only the freshest berries, entering our coldchain within 2 hours of harvesting for maximim shelf life.
                        +e.item
                            +e.item-content
                                +e.item-content-title Retail Friendly!
                                +e.item-content-list
                                    +e.IMG.item-content-image(src=require('./../images/b-logo5.png'), alt='Background')
                            +e.SPAN.item-text
                                | Creative instore displays. Our unique retail packs stand out in the produce section, allowing for creative displays by instore mechandisers and staff. Easy to scan UPC printed on bottom of each basket. Easy to carry family snack size.