mixin wholesale()
    +b.wholesale
        +e.inner
            .container
                +e.blueberry1.wholesale__item(src=require('./../images/blueberry1.png'), alt='Background')
                +e.blueberry2.wholesale__item(src=require('./../images/blueberry2.png'), alt='Background')
                +e.blueberry3.wholesale__item(src=require('./../images/blueberry3.png'), alt='Background')
                +e.blueberry4.wholesale__item(src=require('./../images/blueberry4.png'), alt='Background')
                +e.title(src=require('./../images/wholesale-title.png'), alt='Background')
                +e.content
                    +e.SPAN.text Get detailed information by clicking on the link
                    +e.A.link  falconglen.ca/wholesale