mixin products()
    +b.products
        +e.inner
            .container
                +e.inner-wrapper
                    +e.wrapper-title
                        +e.SPAN.title Products
                    +e.cart-content-change-text
                        +e.cart-content-change-text-inner
                            +e.cart-content-currency-chose Choose currency
                            +e.cart-content-currency
                                +e.SPAN.cart-content-currency-span_active CAD
                                +e.INPUT.cart-content-currency-scroll(type="range" name="vol" min="0" max="1" value="0")
                                span USD
                        +e.cart-content-metryc
                            +e.cart-content-metryc-tabs
                                +e.UL.cart-content-metryc-caption
                                    li.active Metric System
                                    li U.S. System
            +e.cart-content-metryc-inner
                +e.cart-content-metryc-content.active
                    +e.list
                        +e.item
                            +e.wrapper
                                +e.item-inner(style=`background-image:url(${require("./../images/prod1.png")})` )
                                    +e.item-title
                                        strong Fresh
                                        br
                                        |  Organic Blueberries
                                    +e.item-more
                                        span Learn more
                                +e.item-list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 100 g package
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.add
                                        +e.cart-order
                                            +e.cart-order-content
                                                +e.SPAN.cart-order-total Total:
                                                +e.SPAN.cart-order-price  0
                                                +e.SPAN.cart-order-price-name  USD
                                        //+e.A.add-link Available only on pre-order for July-August
                                        +e.more
                                            span Add to cart
                        +e.item
                            +e.wrapper
                                +e.item-inner(style=`background-image:url(${require("./../images/prod2.png")})` )
                                    +e.item-title
                                        strong Fresh
                                        br
                                        |  Organic Blueberries
                                    +e.item-more
                                        span Learn more
                                +e.item-list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 100 g package
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.add
                                        //+e.cart-order
                                        //    +e.cart-order-content
                                        //        +e.SPAN.cart-order-total Total:
                                        //        +e.SPAN.cart-order-price  0
                                        //        +e.SPAN.cart-order-price-name  USD
                                        +e.A.add-link Available only on pre-order for July-August
                                        +e.more
                                            span Add to cart
                        +e.item
                            +e.wrapper
                                +e.item-inner(style=`background-image:url(${require("./../images/prod3.png")})` )
                                    +e.item-title
                                        strong Fresh
                                        br
                                        |  Organic Blueberries
                                    +e.item-more
                                        span Learn more
                                +e.item-list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 100 g package
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.add
                                        //+e.cart-order
                                        //    +e.cart-order-content
                                        //        +e.SPAN.cart-order-total Total:
                                        //        +e.SPAN.cart-order-price  0
                                        //        +e.SPAN.cart-order-price-name  USD
                                        +e.A.add-link Available only on pre-order for July-August
                                        +e.more
                                            span Add to cart
                        +e.item
                            +e.wrapper
                                +e.item-inner(style=`background-image:url(${require("./../images/prod4.png")})` )
                                    +e.item-title
                                        strong Fresh
                                        br
                                        |  Organic Blueberries
                                    +e.item-more
                                        span Learn more
                                +e.item-list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 100 g package
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.add
                                        //+e.cart-order
                                        //    +e.cart-order-content
                                        //        +e.SPAN.cart-order-total Total:
                                        //        +e.SPAN.cart-order-price  0
                                        //        +e.SPAN.cart-order-price-name  USD
                                        +e.A.add-link Available only on pre-order for July-August
                                        +e.more
                                            span Add to cart
                        +e.item
                            +e.wrapper
                                +e.item-inner(style=`background-image:url(${require("./../images/prod5.png")})` )
                                    +e.item-title
                                        strong Fresh
                                        br
                                        |  Organic Blueberries
                                    +e.item-more
                                        span Learn more
                                +e.item-list
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 30 lb/box
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.cart-item(data-price="23.00" data-quantity="0" data-total="0")
                                        +e.cart-item-content
                                            +e.SPAN.cart-item-content-title 100 g package
                                            +e.SPAN.cart-item-content-price-total
                                                +e.SPAN.cart-item-content-price.real-price  23.00
                                                +e.SPAN.cart-item-content-price  CAD
                                        +e.cart-item-cost
                                            +e.SPAN.cart-item-minus –
                                            +e.INPUT.cart-item-number(type="number" readonly="readonly" value="0" placeholder="0")
                                            +e.SPAN.cart-item-plus +
                                    +e.add
                                        //+e.cart-order
                                        //    +e.cart-order-content
                                        //        +e.SPAN.cart-order-total Total:
                                        //        +e.SPAN.cart-order-price  0
                                        //        +e.SPAN.cart-order-price-name  USD
                                        +e.A.add-link Available only on pre-order for July-August
                                        +e.more
                                            span Add to cart



